@import "../../../assets/style/colors";

.page-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &__title {
    color: $color-primary-darkest;
    font-size: 32px;
    font-weight: 300;
  }

  &__button {
    padding-left: 20px;
    padding-right: 27px;
  }
}
